.button {
   width: 243px;
   height: 68px;
   background: $main-color;
   font-weight: 400;
   font-size: 17px;
   line-height: 138.9%;
   text-align: center;
   color: #FFFFFF;
   border: none;
   &-little {
      margin: 0;
      width: 67px;
      height: 68px;
      background: rgba(110, 156, 159, 0.1);
   }
   &-collection {
      display: block;
      margin: 0 auto;
      margin-top: 65px;
      border: 1px solid $main-color;
      background: #FFFFFF;
      color: $main-color;
   }
}
