.slider {
   margin-top: 162px;
   &__title {
      font-weight: 500;
      font-size: 55px;
      line-height: 110%;
   }
   &__subtitle {
      margin-top: 45px;
      font-weight: 400px;
      font-size: 20px;
      line-height: 140%;
      max-width: 385px;
      text-align: right;
   }
   &__block {
      position: relative;
      margin-top: 52px;
      margin-left: 80px;
      display: flex;
      justify-content: center;
      max-width: 310px;
      max-height: 68px;
   }
   &__hand {
      position: absolute;
      top: 19px;
      left: 26px;
   }
}

